/venv
/Python/chatbot/__pycache__
/Python/disease/__pycache__
/apikey.txt
/Python/chatbot/temp.py
/Python/.env
/python/chatbot/__pycache__
/python/disease/__pycache__
/.venv
/python/disease/runs




/IOT/venv
/IOT/__pycache__
/IOT/.env
/IOT/temp.py

/IOT
.env


/Python/disease/venv
/Python/disease/__pycache__
/Python/disease/disease.pt