/venv
/Python/chatbot/__pycache__
/Python/disease/__pycache__
/apikey.txt
/Python/chatbot/temp.py
/Python/.env
/python/chatbot/__pycache__
/python/disease/__pycache__
/.venv
/python/disease/runs
.env
/python/disease/static/uploads